includes:
	- phpstan-baseline.neon
	- vendor/larastan/larastan/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	{{- if AddAssertLib}}
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
	{{- end}}

parameters:
	level: max
	tmpDir: ./.phpstan.cache
	noEnvCallsOutsideOfConfig: true
	checkModelProperties: true
	paths:
		- src
		- config
		- tests
	stubFiles:
		- stubs/BackedEnum.php.stub
	# ignoreErrors:
	# 	- '#^Enum .*? has @implements tag, but does not implement any interface.$#'
